:root{
    --text-color:#FFFFFF;
--description-text: #333333;
--acent-color:#8D4FDB;
--additional-color:#F1F1F1;
}




.header-link{
    color: var(--text-color);
font-family: Montserrat;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 14px; 
letter-spacing: 1.3px;
text-transform: uppercase;
}

.container {
    width: 970px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: red solid;
}
