
.articles-name {
    color: $text-color;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}

.articles-time {
    color: $text-color;

font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}

.articles-title {
    color: $text-color;

font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 35px;
}

.articles-text{

color: $description-text;

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.articles-link{
    color: $acent-color;

font-family: Lato;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.articles-button {
    
width: 132px;

color: $text-color;

text-align: center;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 300% */
letter-spacing: 1px;
text-transform: uppercase;
}

.articles-question {
    color: $description-text;

text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}



.articles {
    padding-bottom: 99px;
    background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}