.header-link {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }
  
  .header {
      padding-top: 60px;
      padding-bottom: 60px;
  }
  